<template>
<div class="app">
  <h1>App {{ num }}</h1>
  <button @click="click">Set number</button>
</div>

</template>

<script>
import {mapState} from 'vuex';

export default {
  name: 'App',
  data() {
    return {
      number: this.$store.state.num
    }
  },
  watch: {
    num(oldValue, newValue) {
      console.log(oldValue, newValue);
    },
  },
  computed: mapState(['num']),
  created() {
    console.log(this.$store);
  },
  methods: {
    click() {
      console.log('change');
      this.$store.dispatch('change');
      console.log(this.$store.state.num);
    }
  }
}
</script>

<style scoped>
.app {
  width: 80vw;
  height: 300px;
  border: 1px solid gray;
  margin: 10px auto;
}
</style>