<template>
	<div>Test: {{num}}</div>
</template>

<script>

import {mapState} from 'vuex';

export default {
	name: "Test",
	data() {
		return {
			number: this.$store.state.num
		}
	},
	watch: {
		num(oldValue, newValue) {
			console.log(oldValue, newValue);
			this.number = newValue;
		},
	},
	computed: mapState(['num']),
}

</script>
